@import './variables.css';

html,
body,
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-size: 62.5%;
}
@media only screen and (max-width: 720px) {
  .nav {
    display: none;
  }
}
.menuBtn {
  font-size: var(--h4);
}
@media only screen and (min-width: 720px) {
  .menuBtn {
    display: none;
  }
}
button {
  position: absolute;
  width: 4rem;
  height: 4rem;
  left: 361px;
  top: 1rem;
  margin-bottom: 1rem;
  background-color: transparent;
  border: none;
}
.line {
  margin-bottom: 1rem;
}
.one {
  position: absolute;
  width: 4rem;
  height: 2px;
  margin-top: 1rem;
  background: #ffffff;
  border-radius: 5px;
}
.two {
  position: absolute;
  width: 4rem;
  height: 2px;
  margin-top: 3rem;
  background: #ffffff;
  border-radius: 5px;
}
.three {
  position: absolute;
  width: 4rem;
  height: 2px;
  margin-top: 5rem;
  background: #ffffff;
  border-radius: 5px;
}
