@import './variables.css';

html,
body,
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-size: 62.5%;
}
@media only screen and (max-width: 810px) {
  .nav {
    display: none;
  }
  .menu {
    display: initial;
  }
}
.menu {
  font-size: var(--h4);
  top: 0;
  left: 0;
}
@media only screen and (min-width: 810px) {
  .menu {
    display: none;
  }
  .nav {
    display: initial;
  }
}
.menuIcon {
  background-color: transparent;
  border-color: transparent;
}
.menuRouter {
  color: var(--white);
  text-decoration: none;
  font-size: 3rem;
  font-family: 'Dongle';
  /* Home About Us Sub-Committees Photos Agenda Resources Join Us */
}
.menuRouter:hover {
  transition: 0.5s;
  text-decoration: underline;
}
.menuRouter:active {
  color: var(--navyblue);
  transition: 0.5s;
}
.line {
  margin: 0.5rem;
  width: 36px;
  height: 4px;
  background-color: var(--white);
  border-radius: 10rem;
}
@media only screen and (max-width: 810px) {
  .contactus {
    font-size: var(--h4);
  }
  .contacts {
    color: var(--white);
    margin-top: 2rem;
    font-weight: lighter;
    font-size: var(--h5);
    font-family: 'ABeeZee', sans-serif;
  }
  #footer {
    width: 100%;
    padding-bottom: 2rem;
  }
  .buttons {
    margin-top: 3rem;
  }
  .icon {
    height: 3rem;
    width: 3rem;
    border-radius: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media only screen and (max-width: 1024px) {
  .contactus {
    font-size: var(--h4);
    margin-top: 0rem;
  }
  .contacts {
    color: var(--white);
    margin-top: 1rem;
    font-weight: lighter;
    font-size: var(--h5);
    font-family: 'ABeeZee', sans-serif;
  }
  #footer {
    bottom: 0px;
    height: 14rem;
    width: 100%;
    padding-bottom: 2rem;
  }
  .buttons {
    margin-top: 2rem;
  }
  .icon {
    height: 3rem;
    width: 3rem;
    border-radius: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
.heading {
  font-size: var(--h2);
  font-family: 'Black Han Sans';
  margin-left: 6rem;
  font-weight: lighter;
  color: var(--yellow);
  padding-top: 12rem;
}
/* Rectangle 6 */
.menuBtn {
  position: absolute;
  width: 91px;
  height: 177px;
  right: 0px;
  top: 0px;

  background: #e9587a;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 16px;

  text-align: center;
  padding-top: 2rem;
}
/* Rectangle 7 */
.linkContainer {
  position: absolute;
  width: 314px;
  height: 779px;
  right: 0;
  top: 63px;

  background: #e9587a;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 7px;
}
/* Rectangle 8 */
.block {
  position: absolute;
  width: 85.5px;
  height: 50px;
  right: 2.5px;
  top: 59px;

  background: #e9587a;
}
.mobileNavLinks {
  list-style-type: none;
  margin-left: 5rem;
  margin-top: 4rem;
}
.link {
  margin-top: 3rem;
}
